import /vendor/etc/init/hw/init.xiaomi.device.rc
 import /vendor/etc/init/hw/init.xiaomi.series.rc

on boot
     enable vendor.qcrild
     enable vendor.qcrild2
 
 on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    
     # Setup all the sub-system as related
     write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
     write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
 
 on post-fs-data
     mkdir /data/vendor/qcam 0770 camera camera
 
 # Restart camera provider after vendor.qcamerasvr is running
 on property:init.svc.vendor.qcamerasvr=running
     exec /bin/sleep 1s
     restart vendor.camera-provider-2-4